

.mat-form-field{
    margin-left: 10px;
}

.form{
    margin-top: 10px;
    text-align: center;
    padding: 30px;
    width: 700px;
    margin-left: 200px;
    box-shadow: 15px,15px;
    background-color: white;
}
button{
    margin-left: 10px;
}
